@media screen and (min-width: 977px) {
	html, body {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		max-width: 976px;
	}
}

body {
	background-color: rgb(32, 32, 32);
	color: rgb(180, 180, 180);

	font-family: "Segoe UI", Tahoma, Cantarell, sans-serif;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

img.bsod {
	float: left;
	padding: 16px;
	width: 145px;
	height: auto;
}

div.main {
	padding: 50px 0 0;
	position: relative;
}

div.info {
	padding: 20px 0 0;
	color: rgb(125, 125, 125);
	text-align: right;
	float: right;
	font-size: smaller;
	font-family: monospace;
}

span {
	color: rgb(125, 125, 125);
	font-family: monospace;
	font-style: italic;
}

a, a:visited {
	text-decoration: none;
	color: rgb(100, 140, 200);
}
